
$col-primary: #CC5500;
$col-secondary: #003300 ;

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: $col-primary;
    padding: 1em;
}

footer {
    text-align: center;
    background-color: $col-secondary;
    color: $col-primary;
    padding: 2em;
    margin-top: 1em ;
}

h1 {
    text-align: center; 
}

h2 {
    font-size: 4em;
}

p {
    font-size: 2em;
    footer {
        font-size: 1em;
    }
}

section {
    text-align: center;
    a {
        font-size: 2em;
    }
}

nav {
    float: right;
    padding-right: 3em;
    padding-top: 3em;
    text-align: center;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            background-color: $col-secondary;
            border: $col-secondary;
            border-radius: 1.2em;
        }
        a:hover {
            background-color: #001b00;
        }
    }
}

/* Three main sections and the 'Rest section'*/
.sectA {
    background-color: $col-primary;
    color:$col-secondary;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    text-align: center;
}

.sectB {
    background-color: $col-secondary;
    color: $col-primary;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    text-align: center;
}

.sectC {
    b{
        color:$col-primary;
    }
    color:$col-secondary;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0 auto;
    text-align: center;
}

.Rsect{
    text-align: center;
    h2 {
        color:$col-primary;
    }
    color: $col-secondary;
}

.thumb {
    margin: 2em;
    height: 400px;
    width: auto;
}

.thumb-backA {
    height: auto;
    border-radius: 5em;
    width: auto;
    background-color: $col-secondary;
    border: $col-secondary;
}
.thumb-backB {
    height: auto;
    border-radius: 5em;
    width: auto;
    background-color: $col-primary;
    border: $col-primary;
}