
$col-primary: #CC5500;
$col-secondary: #003300 ;

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #0f0000ef;
    padding: 1em;
}

footer {
    text-align: center;
    background-color: black;
    font-size: 2em;
    color: $col-secondary;
    padding: 2em;
    margin-top: 1em ;
}

h1 {
    font-size: 3em;
    text-align: center; 
}

nav {
    float: right;
    padding-right: 3em;
    padding-top: 3em;
    text-align: center;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline-block;
        a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            background-color: $col-secondary;
            border: $col-secondary;
            border-radius: 1.2em;
        }
        a:hover {
            background-color: #001b00;
        }
    }
}
